In [51]:
import pandas as pd

In [52]:
data = pd.read_csv('FIFA-21-Complete.csv', header=None, delimiter=';')

In [53]:
data

,0,1,2,3,4,5,6,7,8
0,player_id,name,nationality,position,overall,age,hits,potential,team
1,158023,Lionel Messi,Argentina,ST|CF|RW,94,33,299,94,FC Barcelona
2,20801,Cristiano Ronaldo,Portugal,ST|LW,93,35,276,93,Juventus
3,190871,Neymar Jr,Brazil,CAM|LW,92,28,186,92,Paris Saint-Germain
4,203376,Virgil van Dijk,Netherlands,CB,91,29,127,92,Liverpool
...,...,...,...,...,...,...,...,...,...
17977,256093,Jaime Ortíz,Ecuador,ST,56,21,0,64,Sociedad Deportiva Aucas
17978,256088,Michael Carcelén,Ecuador,CM,56,23,0,64,Club Deportivo El Nacional
17979,256074,Davide Luzi,Venezuela,ST,56,18,1,68,Zamora Fútbol Club
17980,256073,Sergio Sulbarán,Venezuela,RW,56,22,0,62,Zamora Fútbol Club
17981,256072,Luis Peña,Venezuela,CM,56,18,0,69,Zamora Fútbol Club

In [54]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17982 entries, 0 to 17981
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       17982 non-null  object
 1   1       17982 non-null  object
 2   2       17982 non-null  object
 3   3       17982 non-null  object
 4   4       17982 non-null  object
 5   5       17982 non-null  object
 6   6       17982 non-null  object
 7   7       17982 non-null  object
 8   8       17982 non-null  object
dtypes: object(9)
memory usage: 1.2+ MB

In [55]:
data.shape

(17982, 9)

In [56]:
new_header = data.iloc[0]
data = data[1:]
data.columns = new_header

In [57]:
data.columns
data = data.drop("nationality",axis=1)
#data = data.drop("name", axis=1)
data = data.drop("team", axis=1)
data = data.drop("position", axis=1)
data = data.drop("player_id", axis=1)

In [58]:
data.columns

Index(['name', 'overall', 'age', 'hits', 'potential'], dtype='object', name=0)

In [59]:
data

0                   name overall age hits potential
1           Lionel Messi      94  33  299        94
2      Cristiano Ronaldo      93  35  276        93
3              Neymar Jr      92  28  186        92
4        Virgil van Dijk      91  29  127        92
5              Jan Oblak      91  27   47        93
...                  ...     ...  ..  ...       ...
17977        Jaime Ortíz      56  21    0        64
17978   Michael Carcelén      56  23    0        64
17979        Davide Luzi      56  18    1        68
17980    Sergio Sulbarán      56  22    0        62
17981          Luis Peña      56  18    0        69

[17981 rows x 5 columns]